body, html {
  margin: 0;
  padding: 0;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  padding-bottom: 10px;
  left: 300px;
  width: calc(100% - 300px); 
  z-index: 1000; 
}

.container {
  margin-left: 300px;
  max-width: calc(100% - 300px);
  padding: 20px;
  padding-top: 65px; 
}